+++
title = "Cardano Catalyst Community Eastern Town Hall"
linkTitle = "Cardano Catalyst Community Eastern Town Hall"
+++

{{< blocks/cover title="Chào mừng đến với cộng đồng toà thị chính phía Đông" image_anchor="top" height="med" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/docs" >}}">
		Tài liệu <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/c3eth">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}
<div class="container">
    <div class="row p-0">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="text-left">
          <p class="h3 text-dark d-inline">Cardano là một mã nguồn mở phi tập trung toàn cầu mạng lưới</p>
          <p class="h3 text-light d-inline">Proof-of-Stake blockchain</p>
          <p class="h3 text-dark d-inline">cho phép mọi người trên khắp thế giới </p>
          <p class="h3 text-light d-inline">hợp tác, cộng tác, đề xuất, tài trợ và triển khai</p>
          <p class="h3 text-dark d-inline">thị trường, giải pháp tài chính và các ứng dụng</p>
          <a class="h3 text-danger d-inline" href="/catalyst">để xây dựng phúc lợi kinh tế cho hàng triệu người.</a> 
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        {{< youtube id="PobRWs8emlc" title="Eastern Townhall Team" autoplay="false"  >}}
      </div>
    </div>

    <div class="row p-0">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/vi">Tiếng Việt <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/id">Indonesia <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/ja">日本語<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/ko">한국어 <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
      </div>
    </div>

</div>
{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="Cộng đồng" %}}
Chúng tôi giúp đỡ các thành viên trong cộng đồng từ nhiều quốc gia và ngôn ngữ khác nhau ở các múi giờ phía đông.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-language" title="Giao tiếp" %}}
<p>Trọng tâm cụ thể của nhóm là địa phương hoá nội dung của Cardano Catalyst và đào tạo để mở rộng cộng đồng nhất có thể</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Catalyst" %}}
<p>Đây là một loạt các thử nghiệm tận dụng trí tuệ tập thể của Cộng đồng Catalyst để định hướng phát triển và phương hướng trong tương lai của hệ sinh thái Cardano.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/partners color="primary" >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-code" title="Dịch thuật"  url="/docs/getting-started/" %}}
Để giúp Cardano và Catalyt dễ tiếp cận hơn trên toàn cầu, chúng tôi phiên dịch tài liệu và các đề xuất liên quan. <a href="/docs/internationalisation/"></a>Learn how we translate into the many languages of the eastern hemisphere</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Đóng góp" url="https://github.com/c3eth/c3eth.github.io" %}}
Cần sự giúp đỡ của mọi người để bản địa hoá nội dung Cardano Catalyst để có mở rộng cộng đồng. Một ngôn ngữ nào đó chưa có bản dịch? Đóng góp bằng cách tạo [Pull Request](https://github.com/c3eth/c3eth.github.io/pulls) trên **GitHub**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-graduation-cap" title="Học hỏi" url="/docs/catalyst/" %}}
Project Catalyst là bước khởi đầu của quản trị trên chuỗi cho Cardano. Tìm hiểu về Catalyst, tham gia, đề xuất, nhận tài trợ, xây dựng trên Cardano.
{{% /blocks/feature %}}

{{< /blocks/section >}}
