/*

Add styles or override variables from the theme here.

*/

/* Primary Colour Scheme */

$eth-colour1: #041829;
$eth-colour2: #262436;
$eth-colour3: #503C53;
$eth-colour4: #9F6C66;
$eth-colour5: #D4896A;
$eth-colour6: #FFBB6C;
$eth-colour7: #FFAB40;

$primary: #041829;
$secondary: #FFBB6C;

$light: #D4896A;
$dark: #041829;
$info: #88080A; 

$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;