+++
title = "Komunitas Eastern Town Hall Cardano Catalyst"
linkTitle = "Komunitas Eastern Town Hall Cardano Catalyst"
+++

{{< blocks/cover title="Selamat datang ke Komunitas Eastern Town Hall" image_anchor="top" height="med" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/docs" >}}">
		Dokumentasi <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/c3eth">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}
<div class="container">
    <div class="row p-0">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="text-left">
          <p class="h3 text-dark d-inline">Cardano adalah open-source blockchain global yang terdesentralisasi </p>
          <p class="h3 text-light d-inline">berdasar atas sistem jaringan Proof-of-Stake blockchain </p>
          <p class="h3 text-dark d-inline">, mengijinkan orang-orang diseluruh dunia untuk </p>
          <p class="h3 text-light d-inline">bekerjasama, kolaborasi, mengusulkan, mendanai dan meluncurkan </p>
          <p class="h3 text-dark d-inline">pasar baru, solusi keuangan, dan aplikasi-aplikasi </p>
          <a class="h3 text-danger d-inline" href="/catalyst">untuk membuat kehidupan ekonomi yang baik untuk jutaan manusia.</a> 
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        {{< youtube id="PobRWs8emlc" title="Tim Eastern Town Hall" autoplay="false"  >}}
      </div>
    </div>

    <div class="row p-0">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/vi">Tiếng Việt <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/en">English <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/ja">日本語<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/ko">한국어 <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
      </div>
    </div>

</div>
{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="Komunitas" %}}
Kita membantu anggota komunitas yang berasal dari berbagai negara dan bahasa yang berada di belahan timur dunia.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-language" title="Komunikasi" %}}
<p>Fokus yang khusus ada pada usaha membuat konten Cardano Catalyst dalam bahasa lokal serta meningkatkan partisipasi sebanyak mungkin.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Catalyst" %}}
<p>Bereksperimen dengan menggunakan kecerdasan kolektif dari komunitas untuk menentukan arahan dan perkembangan masa depan dari ekosistem Cardano.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/partners_id color="primary" >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-code" title="Terjemahan"  url="/docs/getting-started/" %}}
Untuk membuat Cardano dan Catalyst dapat diakses oleh seluruh dunia, kita menerjemahkan dokumentasi dan proposal yang berkaitan.
<a href="/docs/internationalisation/"></a>Learn how we translate into the many languages of the eastern hemisphere</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Kontribusi" url="https://github.com/c3eth/c3eth.github.io" %}}
Membuat konten Cardano Catalyst dalam bahasa lokal agar terjadi partisipasi seluas mungkin, membutuhkan bantuan banyak orang. Mampu bicara satu bahasa yang belum terwakili disini? Kita melakukan sistem kontribusi [Pull Request](https://github.com/c3eth/c3eth.github.io/pulls) pada sistem kerja **GitHub**. Anggota baru selalu kita terima dengan tangan terbuka!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-graduation-cap" title="Belajar" url="/docs/catalyst/" %}}
Project Catalyst adalah usaha awal sistem pemerintahan on-chain untuk Cardano. Belajarlah tentang Catalyst, berpartisipasilah, ajukanlah proposal, dapatkan pendanaan, bangunlah diatas Cardano.
{{% /blocks/feature %}}

{{< /blocks/section >}}
