+++
title = "Cardano Catalyst Community Eastern Town Hall"
linkTitle = "Cardano Catalyst Community Eastern Town Hall"
+++

{{< blocks/cover title="Welcome to the Eastern Town Hall Community" image_anchor="top" height="med" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/c3eth">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}
<div class="container">
    <div class="row p-0">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="text-left">
          <p class="h3 text-dark d-inline">Cardano is a global decentralised open-source project </p>
          <p class="h3 text-light d-inline">Proof-of-Stake blockchain protocol thingy</p>
          <p class="h3 text-dark d-inline">network, allowing people all over the world to </p>
          <p class="h3 text-light d-inline">cooperate, collaborate, propose, fund, and deploy </p>
          <p class="h3 text-dark d-inline">markets, financial solutions, and applications </p>
          <a class="h3 text-danger d-inline" href="/catalyst">to build economic wellbeing for millions.</a> 
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        {{< youtube id="PobRWs8emlc" title="Eastern Townhall Team" autoplay="false"  >}}
      </div>
    </div>

    <div class="row p-0">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/vi">Tiếng Việt <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/id">Indonesia <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/ja">日本語<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-info mr-3 mb-4" href="/ko">한국어 <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
      </div>
    </div>

</div>
{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="Community" %}}
We are helping community members from a wide variety of countries and languages in the eastern timezones.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-language" title="Communication" %}}
<p>A particular focus is to localise Cardano Catalyst content and on-boarding to enable the widest participation possible.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Catalyst" %}}
<p>Experiments that leverage the collective intelligence of the community to determine the future direction and development of the Cardano ecosystem.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/partners color="primary" >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-code" title="Translate"  url="/docs/getting-started/" %}}
To make Cardano and Catalyt more accessible across the globe we translate documentation and related proposals. <a href="/docs/internationalisation/"></a>Learn how we translate into the many languages of the eastern hemisphere</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contribute" url="https://github.com/c3eth/c3eth.github.io" %}}
Localising Cardano Catalyst content to enable the widest participation needs people to help. Speak a language not represented here yet? We do a [Pull Request](https://github.com/c3eth/c3eth.github.io/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-graduation-cap" title="Learn" url="/docs/catalyst/" %}}
Project Catalyst is the start of on-chain governance for Cardano. Learn about Catalyst, participate, propose, get funded, build on Cardano.
{{% /blocks/feature %}}

{{< /blocks/section >}}
