+++
title = "Cardano Catalyst Community Eastern Town Hall"
linkTitle = "Cardano Catalyst Community Eastern Town Hall"

+++

{{< blocks/cover title="Welcome to the Eastern Town Hall: Cardano Catalyst Community" image_anchor="top" height="med" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/c3eth">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/showcase color="link" %}}

{{< blocks/section color="blue" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="Community" %}}
Cardano Catalyst Community Eastern Townhall is helping to enable community members from a wide variety of countries and languages in the eastern timezones. A particular focus of the team is to localise Cardano Catalyst content and on-boarding to enable the widest participation possible.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-language" title="Communication" %}}
<p>We provide translated versions of Project Catalyst documentation, community-sourced documentation, and related proposals. We translate into the many languages of the eastern hemisphere, with a particular focus on East Asian languages.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Catalyst" %}}
<p>Project Catalyst is the beginning of bringing on-chain governance to Cardano. It is a series of experiments that leverage the collective intelligence of the Catalyst Community to determine the future direction and development of the Cardano ecosystem. Through a series of innovation funds, the community sources ideas decides which to fund, and finances them. Sourcing the best ideas for building a global blockchain.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/partners color="dark" >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-code" title="Help Translate" %}}
<a href="/docs/getting-started/">Learn how we do translations</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/c3eth/c3eth.github.io" %}}
We do a [Pull Request](https://github.com/c3eth/c3eth.github.io/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-chalkboard" title="Learn about Catalyst" %}}
Learn, participate, propose, build on Cardano.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{% blocks/manifesto color="dark" %}}